html {
  text-align: center;
}
.main-nav {
  text-decoration: underline;
}
.main-nav li {
  display: inline-block;
  padding: 20px;
}
.main-nav li a {
  color: black;
}
.main-nav li a:hover {
  text-decoration: underline;
}
.symbol img {
  padding-right: 100px;
  padding-left: 100px;
}
.main img {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.grow {
  margin-left: 50px;
  padding-left: 20px;
  text-align: center;
}
#numbers {
  max-width: 33%;
  float: left;
  margin-top: 75px;
}
#team {
  max-width: 33%;
  float: right;
  margin-top: 75px;
}
#help {
  max-width: 33%;
  text-align: center;
  padding-left: 200px;
  margin-left: 200px;
  Clear: both;
}
.online {
  color: #fff;
  background-color: #c92f2b;
}
footer {
  background-color: black;
  color: #fff;
}
