html {
  text-align: center;
}
.grow {
  width: 900px;
  margin-left: 50px;
  padding-left: 20px;
  text-align: center;
}
#numbers {
  max-width: 33%;
  float: left;
}
#team {
  max-width: 33%;
  float: right;
}
#help {
  max-width: 33%;
  text-align: center;
  margin-left: 70px;
  Clear: both;
}
.online {
  color: #fff;
  background-color: #f2346a
}
footer {
  background-color: black;
  color: #fff;
}
