html {
  text-align: center;
  background-color: #0da0e4;
}
.tea {
  text-align: center;
  width: 900px;
  padding: 10px;
}
#drink {
  float: left;
}
.tea p {
  max-width: 33%;
  float: left;
  text-align: center;
}
#phone {
  float: right;
}
.ipod {
  text-align: center;
  margin: 0px;
  padding: 10px;
}
#visit img {
  float: left;
}
.ipod p {
  max-width: 33%;
  float: left;
  text-align: center;
}
#pen img {
  float: right;
}
footer {
  background-color: black;
  color: #fff;
}
