.main-nav {
  text-decoration: underline;
}
.main-nav li {
  display: inline-block;
  padding: 20px;
}
.main-nav li a {
  color: black;
}
.main-nav li a:hover {
  text-decoration: underline;
}
.symbol {
  padding-left: 100px;
  padding-right: 100px;
}
