html {
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin: 15px 15px 5px 15px;
  line-height: 1.5em;
  width: 1300px;
  height: 2500px
  border: 1px solid black;
}
h1 h2 {
  font-size: 36px;
  font-family: times, sans-serif;
  font-weight: bold;
}
p {
  font-size: 16px;
  Font-family: Cambria, Arial, sans-serif;
}
li {
  font-family: Cambria times, sans-serif;
  font-size: 12px;
}
.main-nav {
  text-decoration: underline;
}
.main-nav li {
  display: inline-block;
  padding: 20px;
}
.main-nav li a {
  color: black;
}
.main-nav li a:hover {
  text-decoration: underline;
}
.symbol img {
  padding-right: 100px;
  padding-left: 100px;
}
.main img {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.digital {
  background-color: #2abda3;
}
.digital p {
  background-color: #2abda3;
  margin: 0px;
  padding: 0px;
}
.digital h2 {
  background-color: #2abda3;
  margin: 0px;
  padding: 0px;
}
.digital a {
  margin: 0px;
  padding: 0px;
  background-color: #2abda3;
}
.websites {
  background-color: #edd02d;
}
.websites p {
  background-color: #edd02d;
  margin: 0px;
  padding: 0px;
}
.websites h2 {
  background-color: #edd02d;
  margin: 0px;
  padding: 0px;
}
.markwting {
  background-color: #f2346a;
}
.marketing p {
  margin: 0px;
  padding: 0px;
}
.marketing h2 {
  margin: 0px;
  padding: 0px;
}
.marketing a {
  margin: 0px;
  padding: 0px;
}
footer {
  text-align: center;
  background-color: black;
  color: #fff;
}
.footer-nav {
  text-decoration: underline;
  background-color: black;
  margin: 0px;
}
.footer-nav li {
  display: inline-block;
  padding: 20px;
  color: #fff;
}
.footer-nav li a {
  color: #fff;
}
.footer-nav li a:hover {
  text-decoration: underline;
}
