html {
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin: 15px 15px 5px 15px;
  width: 1000px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}
p {
  font-size: 14px;
}
li {
  font-family: Cambria, sans-serif;
  font-size: 12px;
}
.main-nav {
  text-decoration: none;
}
.main-nav li {
  display: inline-block;
  padding: 25px;
}
.main-nav li a:hover {
  text-decoration: underline;
}
#capps {
  font size: 24px;
}
.digital {
  background-color: #2abda3;
}
.websites {
  background-color: #edd02d;
}
.markwting {
  background-color: #ec4a59;
}
