html {
  text-align: center;
  margin: 15px 15px 5px 15px;
  line-height: 1.5em;
  max-width: 1300px;
  border: 5px solid black;
}
h1 {
  font-size: 28px;
  font-family: times, sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 24px;
}
h1 h2 {
  font-family: times, sans-serif;
  font-weight: bold;
}
p {
  font-size: 14px;
  Font-family: Cambria, Arial, sans-serif;
}
a {
  color: #fff;
}
li {
  font-family: Cambria, times, Arial, sans-serif;
  font-size: 12px;
}
.main-nav {
  text-decoration: underline;
}
.main-nav li {
  display: inline-block;
  padding: 20px;
}
.main-nav li a {
  color: black;
}
.main-nav li a:hover {
  text-decoration: underline;
}
.symbol img {
  padding-right: 100px;
  padding-left: 100px;
}
.main img {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.digital {
  background-color: #2abda3;
  margin: 0px;
  padding: 0px;
}
.websites {
  background-color: #edd02d;
  padding-left: 10px;
  padding-right: 10px;
}
.websites h2 {
  margin: 0px;
  padding: 0px;
}
.smart {
  background-color: #c92f2b;
}
.smart h2 p a {
  margin: 0px;
  padding: 0px;
}
.blue {
  background-color: #187ead;
  padding: 0px;
  margin: 0px;
}
.button {
  background-color: #fff;
  padding: 5px;
  color: black;
}
footer {
  text-align: center;
  background-color: black;
  color: #fff;
}
.footer-nav {
  text-decoration: underline;
  background-color: black;
  margin: 0px;
}
.footer-nav li {
  display: inline-block;
  padding: 20px;
  color: #fff;
}
.footer-nav li a {
  color: #fff;
}
.footer-nav li a:hover {
  text-decoration: underline;
}
