.main-nav {
  text-decoration: underline;
}
.main-nav li {
  display: inline-block;
  padding: 20px;
}
.main-nav li a {
  color: black;
}
.main-nav li a:hover {
  text-decoration: underline;
}
.symbol img {
  padding-right: 100px;
  padding-left: 100px;
}
.main img {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#for {
  max-width: 33%;
  float: left;
}
#work {
  max-width: 33%;
  float: right;
}
#build {
  max-width: 33%;
  float: right;
}
.app {
  color: #fff;
  background-color: #187ead;
}
footer {
  background-color: black;
  color: #fff;
}
