#for {
  max-width: 33%;
  float: left;
}
#work {
  max-width: 33%;
  float: right;
}
#build {
  max-width: 33%;
  float: right;
}
.app {
  color: #fff;
  background-color: #187ead;
}
footer {
  background-color: black;
  color: #fff;
}
